*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Tanha';
    src: url("../fonts/Tanha-FD.woff2");
    font-weight: normal;
    font-size: medium;
}
body{
    font-family: Tanha;
    direction: rtl;
}
a {
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.main-header{

    position: relative;
    width: 100%;
    background-image: url("../img/bg_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 5rem;
    backdrop-filter: blur(2px);
}
.main-header:before{
    content: '';
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.89) 50% , rgba(245, 233, 233, 0.43));
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.container-menu{

}
.header-menu {
    max-width: 1200px;
     margin:0 auto;
    background-color:rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    gap:6rem;
    z-index: 1;
    position: relative;
    padding: 1rem;
}
.header-menu li a{
    color: white;
    font-weight: bold;
}
.border{
    width: 100%;
    height: 1px;
    border-bottom:2px solid #c50202 ;
    padding-top:5px;
    transform: scaleX(0);
    transition: all ease 1s;
    transform-origin: left;
}
.header-menu li :hover+.border{
 transform: scaleX(1);
}
.arrow-icon::after{
    content: '';
    height: 5px;
    width: 5px;
    position: relative;
    display: block;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    top:-53%;
    left: -115%;
    transform: rotate(50deg);
    cursor: pointer;
    transition:all ease-in 1s ;
}
.arrow-icon:hover::after{
    transform: rotate(225deg);

}
.arrow-icon:hover>.sub-menue{
    opacity: 1;
    visibility: visible;
}

.sub-menue{
   position: absolute;
    top:2.5rem;
    right: 36%;
    background-color:rgba(255,255,255,0.3);
    border-radius: 4px;
    transform: translateY(5px);
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 2s;
}
.sub-menue li{
    padding: 0.5rem 2rem;
    color: white;
    cursor: pointer;
    transition: all ease 0.7s;
}
.sub-menue li:hover{
    color: black;
    background-color: white;
}
.sub-menue>li>ul{
    position: absolute;
    top:50px;
    right: 75px;
    background-color:rgba(255,255,255,0.3) ;
    border-radius: 4px;
    transform: translatex(-25px);
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 2s;
}
.sub-menue>li.sub-sub-menue:hover>ul{
    opacity: 1;
    visibility: visible;

}
